.circleContainer {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    z-index: -2;
}

.memoji {
    position: relative;
    width: 232px;
    left: 44px;
    top: 65px;
    aspect-ratio: 220/256;
}

@media screen and (min-width: 500px) {
    .memoji {
        left: 111.5px;
        top: 173.5px;
        width: 246px;
    }
}

@media screen and (min-width: 1294px) {
    .memoji {
        width: 310px;
        left: 120px;
        top: 186px;
    }
}