.circleContainer {
    position: absolute;
    top: 0;
    min-height: 100vh;
    z-index: -2;
}

.memoji {
    position: absolute;
    left: 111.5px;
    top: 214.5px;
    z-index: -1;
}

@media screen and (max-width: 827px) {
    .memoji {
        left: 6px;
        top: 80px;
    }
    .circleContainer {
        width: 320px;
        /* overflow: hidden */
    }
}