.mainText {
    margin: 0 20px;
    align-self: flex-start;
}

.mainText > p {
    margin-bottom: 20px;
}

.contactForm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
}

.contactForm>label {
    align-self: flex-start;
}

.contactForm>input {
    height: 30px;
}

.contactForm>textarea {
    height: 96px;
}

.contactForm>input, .contactForm>textarea {
    border: none;
    outline: none;
    width: 90vw;
    border-radius: 10px;
    font-family: inherit;
    font-size: 14px;
    padding-left: 5px;
    margin: 7px 0;
}

.contactForm>button {
    all: unset;
    color: white;
    background-color: #0559DB;
    width: 106px;
    height: 30px;
    margin: 15px 0;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.contactForm>button:active {
    box-shadow: none;
}

@media screen and (min-width: 762px) {
    .mainText {
        margin: 0 85px;
    }

    .contactForm>label {
        font-size: 22px;
    }

    .contactForm>input, .contactForm>textarea {
        width: 635px;
    }

    .contactForm>textarea {
        height: 219px;
    }
}
