.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

@media screen and (min-width: 500px) {
 .experience {
    margin: 25px 0;
 }

 .experience > h1 {
    margin-bottom: 20px;
 }
}

@media screen and (min-width: 1024px) {
    .experience {
        margin: 0;
    }
}