:root {
  --text-highlight: #fff2ca;
  --light-mode-color: black;
  --light-mode-bg: white;
  --dark-mode-color: white;
  --dark-mode-bg: #001220;
}

html,
body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.secondary-text {
  font-family: 'Lora', serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--dark-mode-color);
    background: var(--dark-mode-bg);
  }
}
