:root {
  --text-highlight: #fff2ca;
}

body,
body[data-theme="light"] {
  --color-text-primary: black;
  --color-text-secondary: white;
  --color-bg-primary: white;
}

body[data-theme="dark"] {
  --color-text-primary: white;
  --color-text-secondary: #001220;
  --color-bg-primary: #001220;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--color-text-primary);
  background: var(--color-bg-primary);
  transition: background 0.25s ease-in-out;
}

p {
  font-size: 22px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

.main {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.secondary-text {
  font-family: 'Lora', serif;
}

@media screen and (max-width: 762px) {
  h1 {
    font-size: 40px;
    margin-bottom: 19px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  .container {
    max-width: 100vw;
    margin: 0 auto;
    overflow: hidden;
  }
}