.mainIntroContainer {
    max-width: 1440px;
    margin: 0 auto;
}

.mainIntro {
    margin: 310px 21px 0;
    display: flex;
    flex-direction: column;
}

.mainIntro>h1 {
    width: 1px;
}

.arrowDown {
    align-self: center;
    margin-top: 35px;
}

.divider {
    position: relative;
    top: 11px;
    width: 100vw;
    aspect-ratio: 900/1000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../public/assets/layered-waves-haikei.svg');
    /* helps minimize weird border after svg */
    border-bottom: 10px solid #C0DFFC;
}

.offset {
    position: relative;
    bottom: 66vw;
    margin-bottom: -66vw;
}

.mainBackground {
    width: 100%;
    background: #C0DFFC;
}

.main {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding-top: 30px;
    padding-bottom: 11px;
}

.main>img {
    margin: 28px 0 38px;
}

.mainText {
    align-self: flex-start;
    margin: 0 20px;
}

.mainText>p {
    margin-bottom: 12px;
}

@media screen and (min-width: 500px) {
    .mainIntro {
        margin: 484px 0 0 6%;
        padding-right: 20px;
    }

    .mainIntro>h1 {
        font-size: 40px;
        width: auto;
    }

    .mainIntro>p {
        font-size: 23px;
    }

    .divider {
        bottom: 600px;
        width: 112.5vw;
        left: -12.5vw;
        aspect-ratio: 900/450;
        /* helps minimize weird border after svg */
        border-bottom: 2px solid #C0DFFC;
    }

    .offset {
        bottom: 31vw;
        margin-bottom: -31vw;
    }

    .main>img {
        margin: 77px 0 87px;
    }

    .mainText {
        margin: 0 6%;
    }
}

@media screen and (min-width: 687px) {
    .mainIntro {
        margin: 221px 0 0 55%;
    }

    .arrowDown {
        align-self: flex-start;
        margin-left: 40%;
        margin-top: 55px;
    }

    .offset {
        bottom: 26vw;
        margin-bottom: -26vw;
    }
}

@media screen and (min-width: 793px) {
    .mainIntro {
        margin: 238px 0 0 48%;
    }

    .arrowDown {
        margin-top: 68px;
    }
}

@media screen and (min-width: 1024px) {
    .mainIntro {
        margin: 171px 0 0 48%;
    }

    .offset {
        bottom: 30vw;
        margin-bottom: -30vw;
    }

    .mainText {
        margin: 0 85px;
    }
}

@media screen and (min-width: 1294px) {
    .mainIntro {
        margin: 225px 0 0 48%;
    }

    .mainIntro>h1 {
        font-size: 64px;
    }

    .mainIntro>p {
        font-size: 23px;
    }

    .arrowDown {
        margin-top: 8vh;
    }
}