.navbarContainer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    /* prevents wave from overlapping navbar */
    z-index: 99;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin: 0 35px;
}

.links {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.links > a {
    position: relative;
    margin-right: 46px;
}

.activeLink::after {
    content: "";
    position: absolute;
    background-color: var(--color-text-primary);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -8px;
    width: 100%;
}

.inactiveLink::after {
    content: "";
    position: absolute;
    background-color: var(--color-text-primary);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: .3s;
}

.inactiveLink:hover::after {
    width: 100%;
  }

.themeIcon {
    cursor: pointer;
}

@media screen and (min-width: 1128px) {
    .links {
        font-size: 24px;
    }

    .links > a {
        margin-right: 66px;
    }
}