.positionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
}

.information>h2 {
    font-size: 20px;
    margin: 0;
}

.information>i {
    display: block;
    font-size: 16px;
    margin: 10px 0;
}

.information>ul {
    margin: 0;
}

.information>ul>li {
    font-size: 16px;
    margin-bottom: 7px;
}

.positionSkills {
    margin-top: 15px;
}

.positionSkills > p {
    margin-bottom: 9px;
    font-size: 18px;
    text-align: center;
}

@media screen and (min-width: 500px) {
    .positionContainer {
        margin: 40px 20px;
    }

    .information {
        margin: 0 20px;
    }

    .information>h2 {
        font-size: 24px;
    }

    .information>i {
        font-size: 20px;
        margin: 14px 0;
    }

    .information>ul>li {
        font-size: 18px;
    }

    .positionSkills {
        margin-top: 20px;
    }

    .positionSkills > p {
        font-size: 24px;
    }
}

@media screen and (min-width: 700px) {
    .information {
        width: 600px;
    }
}

@media screen and (min-width: 1024px) {
    .positionContainer {
        flex-direction: row;
        align-items: flex-start;
        margin: 40px 10px;
    }

    .information {
        padding-left: 50px;
        width: 640px;
    }
}