.detailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    margin: 10px auto;
}

.detailsContainer>h1 {
    margin-top: 26.8px;
}

.extraImage {
    margin: 10px 0;
}

.skillsTitle {
    margin-top: 20px;
}

.extra {
    align-self: flex-start;
    padding: 0 10px;
}

.extra > ul {
    margin: 10px 0;
}

.extra > ul > li {
    margin-bottom: 5px;
}

@media screen and (min-width: 500px) {
    .detailsContainer {
        margin: 25px 0;
    }

    .detailsContainer>h1 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .extra {
        padding: 0 15px;
    }

    .extra > ul > li {
        font-size: 22px;
    }
}

@media screen and (min-width: 1024px) {
    .detailsContainer {
        margin: 0 auto;
    }
}