.meta {
    align-self: flex-start;
    padding: 10px 0 0 10px;
}

.imageMain {
    margin-top: calc(20px + 1vw);
}

@media screen and (min-width: 500px) {
    .meta {
        padding: 15px 0 0 15px;
    }
}

@media screen and (min-width: 500px) {
    .imageMain {
        margin-top: 50px;
    }
}