.previewContainer {
    position: relative;
    cursor: pointer;
    width: 95vw;
    height: auto;
    color: black;
    background-color: #C0DFFC;
    margin: 1vw auto;
}

.imageContainer {
    position: relative;
    height: 300px;
}

.imageContainer>img {
    object-fit: cover;
    object-position: 0 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.imageContainer:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.previewContainer:hover>.imageContainer:after {
    opacity: 0.1;
}

.information {
    padding-top: 4px;
    padding-left: 10px;
}

.information>h2 {
    font-size: 36px;
    margin: 0;
}

.description {
    padding: 15px 10px 10px 0;
}

@media screen and (min-width: 500px) {
    .previewContainer {
        width: 90vw;
        max-width: 675px;
        margin: 10px auto;
    }

    .imageContainer {
        height: 405px;
    }
}

@media screen and (min-width: 1024px) {
    .information {
        padding-left: 15px;
    }
}