.skillsContainer, .skillsContainerAligned {
    display: flex;
    flex-direction: column;
    margin: 18px 0 30px 0;
    align-items: center;
}

.row, .rowAligned {
    display: flex;
}

.rowAligned {
    width: 250px;
    justify-content: space-evenly;
}

.row:not(:last-child), .rowAligned {
    margin-bottom: 15px;
}

.row:nth-child(odd)>div:first-child {
    margin-left: -40px;
}

.row:nth-child(even)>div:first-child {
    margin-left: 70px;
}

.row:nth-child(odd)>div:not(:first-child) {
    margin-left: 12px;
}

.row:nth-child(even)>div:not(:first-child) {
    margin-left: 12px;
}

@media screen and (min-width: 500px) {
    .rowAligned {
        width: 400px;
    }
}

@media screen and (min-width: 762px) {
    .skillsContainer {
        margin: 50px 0;
    }

    .rowAligned {
        width: 500px;
    }

    .row:not(:last-child) {
        margin-bottom: 21px;
    }

    .row:nth-child(odd)>div:first-child {
        margin-left: -80px;
    }

    .row:nth-child(even)>div:first-child {
        margin-left: 140px;
    }

    .row:nth-child(odd)>div:not(:first-child) {
        margin-left: 24px;
    }

    .row:nth-child(even)>div:not(:first-child) {
        margin-left: 24px;
    }
}